logs
target
.settings
.classpath
.project
zucchini-backend.iml
/.idea
/.idea_modules
/.cache-main
/.cache-tests
/RUNNING_PID
/bin/
/conf/application.conf
/conf/local.conf
/conf/application.test.conf
/project/scalikejdbc.properties
/public/img/equipment/equipment_*
*.map
.ivy2
.sbt
.bloop
.ensime
metals.*
.metals
weather.csv
